<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574650235705-39n6i918jt8hidfh9qntnt3dg27palbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574650235705-39n6i918jt8hidfh9qntnt3dg27palbm</string>
	<key>API_KEY</key>
	<string>AIzaSyBT-PS2CTNV9xPI-SWUh-XSkQZiRq0aw80</string>
	<key>GCM_SENDER_ID</key>
	<string>574650235705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladlopes.TEDxSt</string>
	<key>PROJECT_ID</key>
	<string>tedxst-83be5</string>
	<key>STORAGE_BUCKET</key>
	<string>tedxst-83be5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574650235705:ios:c72916c2e6fd3f34fb46e8</string>
</dict>
</plist>